<!DOCTYPE html>
<html>
    <head>
        <title>영화예매 - Welcome!</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1><a href="/">영화예매</a></h1>
        <div id = "center">
            <div align = right>
                <a href="/login">로그인</a>
                <a href="/create">회원가입</a>
            </div>
        </div>       
        <div id="bottom" align = "center">
            <img src="https://t1.daumcdn.net/cfile/tistory/99B9CB495C866F5717" width="80%" height="500">
        </div>
</body>
</html>
    
