<!DOCTYPE html>
<html>
<head>
    <title>WEB - 회원가입</title>
    <meta charset = "utf-8">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <h1><a href="/">영화예매</a></h1>        
        <ol>

        </ol>
        <h2>회원가입</h2>
        <div align = "center">
            <form action="/create" method="post">
                <p><input type="text" name="id" placeholder="ID"></p>
                <p><input type="text" name="name" placeholder="이름"></p>
                <p><input type="text" name="mail" placeholder="전자우편"></p>
                <p><input type="text" name="pw" placeholder="Password"></p>
                <button type="submit">회원가입</button>
            </form>
        </div>
    </body>
</html>