<!DOCTYPE html>
<html>
<head>
    <title>WEB - 로그인</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1><a href="/">영화예매</a></h1>
    <ol>

    </ol>
    <h2>Login</h2>
    <fieldset>
    <legend>LOGIN !</legend>
        <div align = "center">
            <form action="/login" method="post">
            <p><input type="text" name="id" placeholder="ID"></p>
            <p><input type="password" name="pw" placeholder="Password"></p>
            <button type="submit">로그인</button>
            </form>
        </div>
    </fieldset>
</body>
</html>